:root {
    --c-primary: #f84c4c;
    --c-secondary: #100010;
    --c-base: #fdf6f2;

    --c-primary-rgb: 219, 60, 64;
    --c-secondary-rgb: 16, 0, 16;
    --c-base-rgb: 253, 246, 242;
}

::selection {
    background-color: var(--c-primary);
    color: var(--c-base);
}

* {
    font-family: 'Roboto', Arial, Serif, sans-serif;
    font-size: 14px;
    line-height: 2;
    text-decoration: none;

    transition: .125s ease-in-out;
    gap: .5rem;
}

body {
    min-width: 320px;
    color: var(--c-secondary);
}

img {
    width: 100%;
    height: auto;
}



.rect:before {
    content: '';
    padding-bottom: 100%;
    float: left;
}
.rect_25:before { padding-bottom: 25%; }
.rect_50:before { padding-bottom: 50%; }




.btn {
    color: var(--c-base);
    background-color: var(--c-primary);
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: var(--c-primary);
}