:root {
    --c-primary: #f84c4c;
    --c-secondary: #030007;
    --c-base: #ffffff;

    --c-primary-rgb: 219, 60, 64;
    --c-secondary-rgb: 3, 0, 7;
    --c-base-rgb: 253, 246, 242;
}


::selection {
    background-color: var(--c-primary);
    color: var(--c-base);
}

* {
    font-family: 'Roboto', Arial, Serif, sans-serif;
    font-size: 14px;
    line-height: 2;
    text-decoration: none;

    transition: .125s ease-in-out;
    gap: .5rem;
}

body {
    min-width: 320px;
    min-height: 100vh;
    color: var(--c-secondary);
    background-color: var(--c-base);
    display: flex;
    flex-direction: column;
    gap: 0;
}

.main {
    flex-grow: 1;
}



.rect {
    display: flex;
    gap: 0;
}

.rect:before {
    content: '';
    float: right;
    padding-bottom: 100%;
}

.rect_25:before {
    padding-bottom: 25%;
}

.rect_50:before {
    padding-bottom: 50%;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    Translate: -50% -50%;
}


.background {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    Translate: -50% -50%;

    z-index: 0;
}

.background_contain {
    object-fit: contain;
}


a,
.nav-link {
    color: var(--c-primary);
    display: inline-block;

    position: relative;
    text-decoration: none;
    font-size: inherit;

    transition: inherit;
}

a:hover,
a:focus,
.nav-link:hover,
.nav-link:focus {
    color: inherit;
}

a:before,
.nav-link:before {
    content: '';

    background-color: var(--c-primary);

    width: 0;
    height: .125em;
    border-radius: 1000rem;

    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% -100%;

    transition: inherit;
}

a.active:before,
.nav-link.active:before {
    width: 60%;
}

a:hover:before,
a:focus:before,
.nav-link:hover:before,
.nav-link:focus:before {
    width: 100%;
}

.nav-link.active {
    color: inherit;
}

.page-link {
    color: var(--c-secondary);
    transition: inherit;
    padding: .125em .75em;
}

.page-link:hover,
.page-link:focus {
    color: var(--c-primary);
}

.page-link.active {
    background-color: var(--c-primary);
    border: none;
}


.row {
    gap: 0;
}



.btn {
    color: var(--c-base);
    background-color: var(--c-primary);
    display: flex;
    align-items: center;
}

.btn:hover {
    color: var(--c-secondary);
    background-color: var(--c-primary);
}


.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    box-shadow: none;
    border: .125rem solid var(--c-primary);
}


.input-group {
    gap: 0;
    margin: 0;
}


.list-group-item.active {
    background-color: var(--c-primary);
    border: none;
}


.title {
    text-align: center;
    margin-bottom: 2em;
}