.header {}



.header__top {
    background-color: var(--c-primary);
}


.header__menu {}

.header__item {
    color: var(--c-base);
    line-height: 1em;
    text-align: center;
    padding: .5rem;
}

.header__item:hover {
    color: var(--c-secondary);
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    box-shadow: none;
    border: .125rem solid var(--c-primary);
}



.search__modal-content {
    padding: 1rem;
    gap: 1.5rem;
}
.search {}
.input-group {
    gap: 0;
    margin: 0;
}
.search__input-group {
    border-radius: .5rem;
    border: .15rem solid var(--c-primary);
}
.search__field {
    border: none;
}
.search__field:focus {
    box-shadow: none;
    border: none;
}
.search__results {
    display: flex;
    flex-direction: column;
}
.search__result {
    border: .125rem solid rgba(var(--c-secondary-rgb), .125);
    color: var(--c-secondary);
    overflow: hidden;
}
.search__result:hover {
    background-color: var(--c-primary);
    color: var(--c-base);
}
.search__btn {
}
.search__btn_clear {
    color: var(--c-secondary);
    background-color: transparent;
    border: none;
}

.search__btn_clear:hover,
.search__btn_clear:active,
.search__btn_clear:focus {
    color: var(--c-primary);
    background-color: transparent;
}


.nav-item a {
    color: var(--c-secondary);
}


.cart__modal-content {
    gap: 0;
}

.cart__img {
    min-width: 5rem;
}

.cart__modal-header {
    background-color: var(--c-primary);
    color: var(--c-base);
}

.cart__btn-close {
    color: var(--c-base);
}

.cart__link {
    color: var(--c-secondary);
}

.cart__link:hover, .cart__link:focus {
    color: var(--c-primary);
}


.benefit {
    height: 100%;

    position: relative;
    border: none;
    background-color: var(--c-base);
}

.benefit__content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10% 5%;
    gap: 2rem;
}

.benefit__hover-effect {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    top: 0;
}

.benefit__hover-effect:before,
.benefit__hover-effect:after {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    border: .125rem solid var(--c-primary);
    transition: .25s ease-in-out;
}

.benefit__hover-effect:before {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: inherit;
}

.benefit__hover-effect:after {
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: inherit;
}

.benefit__hover-effect:hover:before,
.benefit__hover-effect:hover:after {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.benefit__icon {
    font-size: 7.5rem;
}

.footer {
    padding: .5rem 0;
    color: var(--c-base);
    background-color: var(--c-primary);
}

.footer a {
    color: var(--c-base);
}

.footer a:hover {
    color: var(--c-secondary);
}

.footer__title {
    padding: .5rem 0;
    border-bottom: .125rem solid rgba(var(--c-base-rgb), .25);
}


.btn_to-top {
    width: 5%;
    min-width: 2.5rem;
    max-width: 3.5rem;
    border-radius: 1000rem;

    position: fixed;
    bottom: 2rem;
    right: 2rem;

    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0 .5rem rgba(var(--c-base-rgb), .25);
}


@media (min-width: 992px) {
    .nav-item.dropdown .dropdown-menu {
        display: none;
        margin-top: 0;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}

.list-group-item.active {
    background-color: var(--c-primary);
    border: none;
}


.dropdown-item.active {
    background-color: var(--c-primary);
}
.dropdown-item.active:hover {
    color: var(--c-secondary);
}